ion-header {
    background-color: #d4af37;
    color: #000000;
  
    ion-toolbar {
      --background: transparent;
      color: #000;
  
      ion-title,
      ion-button {
        color: #000;
        font-family: Georgia, 'Times New Roman', Times, serif;
      }
    }
  }
  
  ion-content {
    --background: black;
    background-color: black;
  }
  
  ion-card-content {
    background-color: black;
  }
  
  ion-item {
    --background: none;
    background-color: black;
  }
  
  /* Estilo de encabezado principal */
  h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 5%;
    font-size: 40px;
    color: #d4af37;
  }
  
  .content-wrapper {
    padding: 2%;
  }
  
  /* Contenedor para la foto de perfil o logo */
  .perfil-container {
    display: flex;
    justify-content: center;
    /* Centra el contenido horizontalmente */
    align-items: center;
    /* Centra el contenido verticalmente */
    flex-direction: column;
    /* Coloca los elementos en columna */
    margin-top: 20px;
    /* Espaciado superior */
  }
  
  .avatar-img {
    font-size: 100px;
    /* Tamaño del icono */
    width: 100px;
    /* Ancho del icono */
    height: 100px;
    /* Altura del icono */
    color: white;
    /* Color del icono */
    display: flex;
    /* Flexbox para centrar el contenido */
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    border-radius: 50%;
    /* Hace que el fondo sea redondeado */
    background-color: #333;
    /* Fondo oscuro */
    margin: 20px;
    margin-left: 38%;
  }

  
  /* Estilo de nombres y títulos */
  .nombre {
    text-align: center;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
  }
  
  .cabe {
    --background: none;
    background-color: #d4af37;
  }
  
  /* Contenedor de formularios */
  .formuser {
    text-align: center;
    padding: 5% 15%;
    margin-bottom: 10px;
  }
  
  .input-container {
    margin-bottom: 15px;
  }
  
  ion-input {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: start;
  }
  
  /* Mensajes de error */
  p.error {
    color: red;
    font-size: 14px;
    margin: 5px 0 10px;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  /* Contenedor de botones */
  .btns {
    text-align: center;
    padding-top: 10px;
  
    ion-button {
      margin: 5px;
    }
  }
  
  /* Tarjeta de perfil */
  .cardperfil {
    background-color: black;
    border: 2px solid #d4af37;
    border-radius: 10px;
    margin: 10px auto;
    padding: 10px;
  }
  
  /* Encabezado de tarjetas */
  ion-card-header {
    padding: 0;
    width: 100%;
  }
  
  .card-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  
  /* Otros textos */
  .d1,
  .d2,
  .d3,
  .d4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
    border: 3px solid #d4af37;
    border-radius: 10px;
  }
  
  ion-button {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }