<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Desbanear Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Usuarios baneados</h1>

  <ion-card>
    <ion-title [routerLink]="['/perfiles']">Juan666</ion-title>
    <p>motivo: Contenido ofensivo</p>
    <ion-button fill="outline" color="success">Desbanear</ion-button>
  </ion-card>

  <ion-card>
    <ion-title [routerLink]="['/perfiles']">PAPIGUILLE</ion-title>
    <p>motivo: Acoso o intimidación</p>
    <ion-button fill="outline" color="success">Desbanear</ion-button>
  </ion-card>

  <ion-card>
    <ion-title [routerLink]="['/perfiles']">Red</ion-title>
    <p>motivo: Infracción de normas de la comunidad</p>
    <ion-button fill="outline" color="success">Desbanear</ion-button>
  </ion-card>

  <ion-card>
    <ion-title [routerLink]="['/perfiles']">Scorpion16</ion-title>
    <p>motivo: Violación de derechos de autor</p>
    <ion-button fill="outline" color="success">Desbanear</ion-button>
  </ion-card>

  <ion-card>
    <ion-title [routerLink]="['/perfiles']">ElThunas</ion-title>
    <p>motivo: Incitación al odio</p>
    <ion-button fill="outline" color="success">Desbanear</ion-button>
  </ion-card>

  <ion-card>
    <ion-title [routerLink]="['/perfiles']">Marcelo -u-</ion-title>
    <p>motivo: Contenido ilegal</p>
    <ion-button fill="outline" color="success">Desbanear</ion-button>
  </ion-card>

  <ion-card>
    <ion-title [routerLink]="['/perfiles']">Gabriel Boric</ion-title>
    <p>motivo: Contenido sexual explícito</p>
    <ion-button fill="outline" color="success">Desbanear</ion-button>
  </ion-card>

</ion-content>
