<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Desbanear Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Usuarios Baneados</h1>

  <ion-card *ngFor="let usuario of usuariosBaneados">
    <ion-card-header>
      <ion-card-title>{{ usuario.nick_usuario }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Motivo:</strong> {{ usuario.descripcion_motivo }}</p>

      <ion-button fill="outline" color="success" (click)="desbanearUsuario(usuario.id_usuario)">
        Desbanear
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>



