<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>menu</ion-title>
    <ion-button slot="end" color="dark" routerLink="/login">Cerrar sesión</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <ion-card class="post-item">
    <div class="postear">
      <ion-input [(ngModel)]="contenido_post" placeholder="¿En qué estás pensando hoy?" rows="6"></ion-input>
    </div>
  
    <div class="btnpub">
      <!-- Botón para publicar el post -->
      <ion-button slot="end" fill="outline" color="warning" (click)="publicarPost()">Publicar</ion-button>
      <!-- Botón para tomar una foto -->
      <ion-button slot="end" class="cam" fill="outline" color="warning" (click)="takePhoto()">
        <ion-icon name="camera"></ion-icon>
      </ion-button>
  
      <!-- Contenedor para mostrar la imagen capturada -->
      <div class="fotocom-container">
        <img [src]="fotografia" alt="Sin Foto" *ngIf="fotografia" class="foto-preview" />
      </div>
    </div>
  </ion-card>
  

  <!-- Mostrando los posts obtenidos de la base de datos -->
  <ion-card class="card-custom" *ngFor="let post of arreglopost">
    
    <div>
      <ion-button fill="clear" (click)="reportarPost(post.id_post, post.id_usuario)" class="btn-3puntos">
        <img src="assets/icon/3puntos.png" alt="Reportar contenido" />
      </ion-button>
    </div>

      <h1 class="nicku" [routerLink]="['/perfiles']">{{ post.titulo_post }}</h1>
      <p class="conten">{{ post.contenido_post }}</p>
      <img *ngIf="post.img_post" [src]="post.img_post" alt="Publicación de usuario" style="width: 100%; margin-bottom: 8px;">
      
      <div class="btnpost">
        <ion-button fill="outline" color="warning">Me Gusta</ion-button>
        <ion-button fill="outline" color="warning" (click)="irAComentarios(post)">Comentar</ion-button>
        <ion-button fill="outline" color="warning" (click)="shareContent(post.titulo_post, post.contenido_post, post.img_post)">Compartir</ion-button>
      </div>
  </ion-card>
</ion-content>
