ion-header {
  background-color: #d4af37;
  /* Fondo dorado */
  color: #000000;
  /* Texto negro */

  ion-toolbar {
    --background: transparent;
    /* Fondo transparente del toolbar para heredar el dorado */
    color: #000;
    /* Color del texto e iconos dentro del toolbar */

    ion-title,
    ion-button {
      color: #000;
      /* Asegura que el texto e iconos sean negros */
      font-family: Georgia, 'Times New Roman', Times, serif;
    }
  }
}

ion-button {
  --background: #d4af37;
  /* Fondo dorado para el botón */
  color: #000;
  /* Texto negro */
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-radius: 5px;
  /* Bordes redondeados */
  font-weight: bold;
  margin-top: 20px;

}

ion-content {
  --background: transparent;
  padding: 20px;
  background-color: black;

  .formcont {
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 15%;
    margin-right: 15%;

        .i2 {
          padding-top: 10px;
        }

        .i3 {
          padding-top: 10px;
        }

      ion-input {
        color: white;
        font-family: Georgia, 'Times New Roman', Times, serif;
        border: 3px solid #d4af37;
        border-radius: 10px;
        background-color: black;
      }
    }

  .btns {
    text-align: center;
  }

  .error-message {
    color: red;
    font-size: 15px;
    margin-top: 4px;
    text-align: start;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }


  .logo-container {
    display: flex;
    justify-content: center;
    background-color: #000;
    padding-top: 10%;
    padding-bottom: 5%;
  }

  .logo-img {
    width: 150px;
    height: auto;
  }
}