<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>perfilusuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card-header class="card-header">
    <div class="foto">
      <!-- Mostrar la imagen de perfil si está disponible -->
      <img *ngIf="imgSrc" [src]="imgSrc" alt="Avatar" class="avatar-img"/>
    </div>

    <ion-item class="cabe" lines="none">
      <ion-label *ngIf="Pusuario">
        <h2 class="nombre">{{ Pusuario.nick_usuario }}</h2>
      </ion-label>

      <!-- Botón de editar perfil -->
      <ion-button fill="outline" color="dark" slot="end" [routerLink]="['/editarperfil']">
        <ion-icon color="black" name="pencil"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card-header>

  <div class="content-wrapper">
    <ion-card *ngIf="Pusuario" class="cardperfil">
      <ion-card-content>
        <!-- Nombre -->
        <ion-item>
          <ion-label class="d1">Nombre: {{ Pusuario.nombre_usuario }}</ion-label>
        </ion-item>

        <!-- Correo Electrónico -->
        <ion-item>
          <ion-label class="d2">Correo: {{ Pusuario.correo_usuario }}</ion-label>
        </ion-item>

        <!-- Teléfono -->
        <ion-item>
          <ion-label class="d3">Telefono: {{ Pusuario.telefono_usuario }}</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

