<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>perfilusuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card-header class="card-header">
    <div class="foto">
      <!-- Aquí mostramos la imagen obtenida de la API en lugar del ícono -->
      <img *ngIf="imgSrc" [src]="imgSrc" alt="Avatar" class="avatar-img"/>
    </div>

    <ion-item class="cabe" lines="none">
      <ion-label>
        <h2 class="nombre">Diego</h2>
      </ion-label>

      <!-- Botón de editar perfil -->
      <ion-button fill="outline" color="dark" slot="end" [routerLink]="['/editarperfil']">
        <ion-icon color="black" name="pencil"></ion-icon>
      </ion-button>

    </ion-item>
  </ion-card-header>

  <div class="content-wrapper">
    <ion-card class="cardperfil">

      <ion-card-content>
        <!-- Nombre -->
        <ion-item>
          <ion-label class="d1">Diego Mellado</ion-label>
        </ion-item>

        <!-- Correo Electrónico -->
        <ion-item>
          <ion-label class="d2">Diego&#64;example.com</ion-label>
        </ion-item>

        <!-- Teléfono -->
        <ion-item>
          <ion-label class="d3">+56 9 4534 4532</ion-label>
        </ion-item>

        <!-- Dirección -->
        <ion-item>
          <ion-label class="d4">Mi casa</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
