ion-header {
    background-color: #d4af37;
    /* Fondo dorado */
    color: #000000;
    /* Texto negro */
  
    ion-toolbar {
      --background: transparent;
      /* Fondo transparente del toolbar para heredar el dorado */
      color: #000;
      /* Color del texto e iconos dentro del toolbar */
  
      ion-title,
      ion-buttons,
      ion-searchbar,
      ion-button {
        color: #000;
        /* Asegura que el texto e iconos sean negros */
        font-family: Georgia, 'Times New Roman', Times, serif;
      }
    }
  }
  
  ion-content {
    --background: null;
    background-color: black;
  }
  
  ion-card-content {
    background-color: black;
  }
  
  ion-item {
    background-color: black;
    --background: none;
  }
  
  /* Contenedor que contiene la foto y el encabezado */
  .perfil-container {
    display: flex;
    justify-content: center;
    /* Centra el contenido horizontalmente */
    align-items: center;
    /* Centra el contenido verticalmente */
    flex-direction: column;
    /* Coloca los elementos en columna */
    margin-top: 20px;
    /* Espaciado superior */
  }
  
  .avatar-img {
    font-size: 100px;
    /* Tamaño del icono */
    width: 100px;
    /* Ancho del icono */
    height: 100px;
    /* Altura del icono */
    color: white;
    /* Color del icono */
    display: flex;
    /* Flexbox para centrar el contenido */
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    border-radius: 50%;
    /* Hace que el fondo sea redondeado */
    background-color: #333;
    /* Fondo oscuro */
    margin: 20px;
    margin-left: 38%;
  }
  
  .nombre {
    text-align: center;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
  }
  
  .card-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  
  .cabe {
    --background: none;
    background-color: #d4af37;
  }
  
  
  ion-card-header {
    padding: 0;
    /* Elimina el padding extra */
    width: 100%;
    /* Asegura que el header ocupe todo el ancho disponible */
  }
  
  .cardperfil {
    background-color: black;
    border: 2px solid #d4af37;
    /* Borde dorado */
    border-radius: 10px;
    /* Bordes redondeados */
    margin: 10px;
    /* Espacio exterior */
    padding: 20px;
    /* Espacio interior */
  }
  
  .d1,
  .d2,
  .d3,
  .d4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
  }