<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button> <!-- Botón para retroceder -->
    </ion-buttons>
    <ion-title>Comentarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content" [fullscreen]="true">
  <ion-card class="card-custom">
    <div>
      <ion-button fill="clear" [routerLink]="['/reportar-contenido']" class="btn-3puntos">
        <img src="assets/icon/3puntos.png" alt="Reportar contenido" />
      </ion-button>
    </div>
    <ion-card-title>
      <h1 [routerLink]="['/perfiles']">Nombre del usuario</h1>
    </ion-card-title>
    <p>Este es un ejemplo de mensaje.</p>

    <ion-card-content>
      <img src="assets/img/forza.jpg" alt="Publicación de usuario" style="width: 100%; margin-bottom: 8px;">
      <div class="btnpost">
        <ion-button fill="outline" color="warning">Me Gusta</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <h1>Comentarios</h1>

  <!-- Comentarios con botones de Cámara y Compartir -->
  <ion-card *ngFor="let comentario of comentarios">
    <ion-button fill="clear" [routerLink]="['/reportar-contenido']" class="btn-3puntos">
      <img src="assets/icon/3puntos.png" alt="Reportar contenido" />
    </ion-button>
    <ion-title [routerLink]="['/perfiles']">{{ comentario.usuario }}</ion-title>
    <p>{{ comentario.texto }}</p>

    <div class="action-buttons">
      <ion-button (click)="takePhoto(comentario.id)">Tomar Foto</ion-button>
      <ion-button (click)="shareContent(comentario.id)">
        <ion-icon slot="start" name="share-social"></ion-icon>
        Compartir Contenido
      </ion-button>
    </div>
  </ion-card>
</ion-content>

<ion-footer class="foot">
  <div class="com">
    <ion-input class="tucom" placeholder="Comentario"></ion-input>
    <ion-button fill="outline" color="warning" class="btn-enviar">Enviar</ion-button>
  </div>
</ion-footer>
