<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Comentarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content" [fullscreen]="true">
  <section *ngIf="postSeleccionado">
    <ion-card class="card-custom">
      <ion-button fill="clear" [routerLink]="['/reportar-contenido']" class="btn-3puntos">
        <img src="assets/icon/3puntos.png" alt="Opciones para el contenido" />
      </ion-button>
      <h1 class="nicku" [routerLink]="['/perfiles']">{{ postSeleccionado.titulo_post }}</h1>
      <p class="conten">{{ postSeleccionado.contenido_post }}</p>
      <ng-container *ngIf="postSeleccionado.img_post">
        <img [src]="postSeleccionado.img_post" alt="Imagen del post" style="width: 100%; margin-bottom: 8px;">
      </ng-container>
      <div class="btnpost">
        <ion-button fill="outline" color="warning" (click)="darLike()">Me Gusta</ion-button>
        <ion-button fill="outline" color="warning" (click)="shareContent(postSeleccionado.titulo_post, postSeleccionado.contenido_post, postSeleccionado.img_post)">
          Compartir
        </ion-button>
      </div>
    </ion-card>
  </section>

  <h1>Comentarios</h1>
  <section>
    <ion-card *ngFor="let comentario of arregloComentarios">
      <ion-button fill="clear" (click)="irAReportarComentario(comentario.id_comentario, postSeleccionado.id_post)" class="btn-3puntos">
        <img src="assets/icon/3puntos.png" alt="Opciones para el contenido" />
      </ion-button>
      <ion-card-title [routerLink]="['/perfiles', comentario.id_usuario]">
        {{ comentario.nick_usuario || 'Usuario desconocido' }}
      </ion-card-title>
      <p>{{ comentario.contenido_comentario }}</p>
      <ng-container *ngIf="comentario.img_comentario">
        <img [src]="comentario.img_comentario" alt="Imagen del comentario" style="width: 100%; margin-bottom: 8px;">
      </ng-container>
    </ion-card>
  </section>

  <ion-footer class="foot">
    <div class="com">
      <ion-input [(ngModel)]="nuevoComentario" class="tucom" placeholder="Escribe tu comentario"></ion-input>
      <ion-button fill="outline" color="warning" class="btn-enviar" [disabled]="!nuevoComentario.trim()" (click)="agregarComentario()">
        Enviar
      </ion-button>
    </div>
  </ion-footer>
</ion-content>