<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button> <!-- Botón para retroceder -->
    </ion-buttons>
    <ion-title>Comentarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content" [fullscreen]="true">
  <!-- Mostrar el post seleccionado -->
  <ion-card class="card-custom" *ngIf="postSeleccionado">
    <div>
      <ion-button fill="clear" [routerLink]="['/reportar-contenido']" class="btn-3puntos">
        <img src="assets/icon/3puntos.png" alt="Reportar contenido" />
      </ion-button>
    </div>
    <ion-card-title>
      <h1 [routerLink]="['/perfiles', postSeleccionado.id_usuario]">{{ postSeleccionado.titulo_post }}</h1>
    </ion-card-title>
    <p>{{ postSeleccionado.contenido_post }}</p>

    <ion-card-content>
      <img *ngIf="postSeleccionado.img_post" [src]="postSeleccionado.img_post" alt="Publicación de usuario" style="width: 100%; margin-bottom: 8px;">
      <div class="btnpost">
        <ion-button fill="outline" color="warning">Me Gusta</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <h1>Comentarios</h1>

  <!-- Mostrar los comentarios asociados al post -->
  <ion-card *ngFor="let comentario of arregloComentarios">
    <!-- Botón para reportar contenido -->
    <ion-button fill="clear" [routerLink]="['/reportar-contenido']" class="btn-3puntos">
      <img src="assets/icon/3puntos.png" alt="Reportar contenido" />
    </ion-button>
    
    <!-- Usuario y contenido del comentario -->
    <ion-card-title [routerLink]="['/perfiles', comentario.id_usuario]">
      {{ comentario.usuario_nombre }}
    </ion-card-title>
    <p>{{ comentario.contenido_comentario }}</p>

    <!-- Imagen del comentario, si existe -->
    <div *ngIf="comentario.img_comentario">
      <img [src]="comentario.img_comentario" alt="Imagen del comentario" style="width: 100%; margin-bottom: 8px;">
    </div>
  </ion-card>

  <ion-footer class="foot">
    <div class="com">
      <ion-input [(ngModel)]="nuevoComentario" class="tucom" placeholder="Escribe tu comentario"></ion-input>
      <ion-button fill="outline" color="warning" class="btn-enviar" (click)="enviarComentario()">Enviar</ion-button>
    </div>
  </ion-footer>
</ion-content>
