ion-header {
    background-color: #d4af37;
    /* Fondo dorado */
    color: #000000;
    /* Texto negro */
  
    ion-toolbar {
      --background: transparent;
      /* Fondo transparente del toolbar para heredar el dorado */
      color: #000;
      /* Color del texto e iconos dentro del toolbar */
  
      ion-title,
      ion-buttons,
      ion-searchbar,
      ion-button {
        color: #000;
        /* Asegura que el texto e iconos sean negros */
        font-family: Georgia, 'Times New Roman', Times, serif;
      }
    }
  }
  
  /* Fondo negro para la página */
  ion-content {
    --background: none;
    background-color: black;
  }
  
  .bordeDorado {
    border: 2px solid #d4af37;
    /* Borde dorado */
    border-radius: 10px;
    /* Bordes redondeados */
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
  
    ion-card-title {
      color: #d4af37;
      font-weight: bolder;
    }
  
    ion-card-content {
      font-size: 19px;
    }
  }
  
  /* Estilos para los items (nombre de la comunidad, autor) */
  ion-item {
    font-family: Georgia, 'Times New Roman', Times, serif;
    --background: none;
    background-color: #000;
    border: 2px solid #d4af37;
    /* Borde dorado */
    border-radius: 10px;
    /* Bordes redondeados */
    margin-bottom: 16px;
    border-radius: 8px;
    padding: 12px;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
  
    p {
      color: white;
    }
  }
  
  ion-thumbnail {
    width: 50px;
    height: 50px;
    border-radius: 8px;
  }
  
  ion-label {
    color: #fff;
  
    h2 {
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 1.2rem;
      margin: 0;
      color: #d4af37;
    }
  
    p {
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 0.9rem;
    }
  
    /* Estilos para las tarjetas de descripción, comentarios y galería */
    ion-card {
      background-color: #000;
      margin-bottom: 16px;
      border-radius: 8px;
    }
  
    ion-card-header {
      background-color: #333;
    }
  
    ion-card-title {
      color: #d4af37;
      font-size: 1.1rem;
    }
  
    .img {
      margin-top: 10px;
      margin-bottom: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  
    /* Ajustes para las imágenes dentro de las tarjetas */
    ion-img {
  
      max-width: 100%;
      border-radius: 8px;
      margin: 8px 0;
    }
  
    /* Estilo para el botón de editar comunidad */
    .button-container {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
  
    ion-button {
      font-family: Georgia, 'Times New Roman', Times, serif;
      border: 2px solid #d4af37;
      color: #d4af37;
      --background: transparent;
      --border-radius: 8px;
      font-size: 1rem;
      padding: 12px 24px;
      text-align: center;
    }
  
    ion-button:hover {
      --background: #d4af37;
      color: #000;
    }
  }
  
  h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 3%;
  }
  
  .btns {
    text-align: center;
  }
  
  ion-button {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }