<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Usuarios Reportados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Lista de Reportes Pendientes</h1>

  <ion-card *ngFor="let reporte of listaRepPost">
    <ion-title>{{ reporte.nick_usuario }}</ion-title>
    <p>Motivo: {{ reporte.descripcion_motivo }}</p>
    <p *ngIf="reporte.titulo_post">Post: {{ reporte.titulo_post }}</p>
    <p *ngIf="reporte.contenido_post">Contenido: {{ reporte.contenido_post }}</p>
    <p *ngIf="reporte.contenido_comentario">Comentario: {{ reporte.contenido_comentario }}</p>
    
    <ion-button fill="outline" color="warning" (click)="ignorarReporte(reporte)">
      Ignorar
    </ion-button>
    <ion-button fill="outline" color="danger" (click)="banearReporte(reporte)">
      Banear
    </ion-button>
  </ion-card>
</ion-content>