<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Usuarios Reportados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Lista de Reportes Pendientes</h1>

  <!-- Mostrar los reportes -->
  <ion-card *ngFor="let reporte of usuariosReportados">
    <ion-card-header>
      <ion-card-title>{{ reporte.nick_usuario }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Motivo:</strong> {{ reporte.descripcion_motivo }}</p>
      <div>
        <ion-button fill="outline" color="danger" (click)="banearUsuario(reporte.id_reporte, reporte.id_usuario_reportado)">
          Banear
        </ion-button>
        <ion-button fill="outline" color="warning" (click)="ignorarReporte(reporte.id_reporte)">
          Ignorar
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

