ion-header {
    background-color: #d4af37;
    /* Fondo dorado */
    color: #000000;
    /* Texto negro */
  
    ion-toolbar {
      --background: transparent;
      /* Fondo transparente del toolbar para heredar el dorado */
      color: #000;
      /* Color del texto e iconos dentro del toolbar */
  
      ion-title,
      ion-button {
        color: #000;
        /* Asegura que el texto e iconos sean negros */
        font-family: Georgia, 'Times New Roman', Times, serif;
      }
    }
  }
  

  ion-input {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    border: #d4af37;
    margin-left: 3%;
  }
  
  ion-button {
    --background: #d4af37;
    /* Fondo dorado para el botón */
    color: #000;
    /* Texto negro */
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 5px;
    /* Bordes redondeados */
    font-weight: bold;
    margin-top: 20px;
  
    &:hover {
      background-color: #b59b2d;
      /* Cambio de color al pasar el mouse */
    }
  }
  
  ion-content {
    --background: black;
    /* Fondo negro para el contenido */
    padding: 20px;
  }
  
  ion-item {
    margin-bottom: 15px;
    background-color: #000;
    border: 2px solid #d4af37;
  }
  
  ion-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #d4af37;
    /* Color dorado para el título */
    font-size: 1.3rem;
    /* Reduje el tamaño de la fuente */
  }
  
  ion-item {
    --background: transparent;/* Fondo transparente */
    color: #d4af37;/* Color dorado para las etiquetas */
    margin: 5%;
    
    ion-label {
      font-size: 1rem;
      /* Reduje el tamaño de la fuente */
      color: white;
      /* Etiquetas en dorado */
      font-family: Georgia, 'Times New Roman', Times, serif;
    }
  
    ion-select {
      color: #ffffff;
      /* Texto blanco en los campos */
      font-family: Georgia, 'Times New Roman', Times, serif;
    }
  }
  
  .btns {
    text-align: center;
  }
  
  .error-message {
    margin-top: 10px;
    margin-left: 5%;
    font-size: 14px;
    color: red;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    background-color: #000;
    padding-top: 15%;
    padding-bottom: 5%;
  }
  
  .logo-img {
    width: 150px;
    height: auto;
  }