<ion-header>
  <ion-toolbar>
    <ion-title>Pregunta de Seguridad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="logo-container">
    <img src="assets/img/ojo de horus.png" alt="Ojo de Horus" class="logo-img">
  </div>

  <!-- Sección para seleccionar la pregunta de seguridad -->
  <ion-item>
    <ion-label>Pregunta de seguridad</ion-label>
    <ion-select [(ngModel)]="idPreguntaSeguridad" interface="popover" placeholder="Selecciona una pregunta" (ionChange)="onPreguntaChange()">
      <ion-select-option *ngFor="let pregunta of preguntas" [value]="pregunta.id_pregunta_seguridad">
        {{ pregunta.nombre_pregunta_seguridad }}
      </ion-select-option>
    </ion-select>
  </ion-item>
    <!-- Mostrar errores si los hay -->
    <div *ngIf="errores.preguntaSeguridad" class="error-message">
      <ion-text>{{ errores.preguntaSeguridad }}</ion-text>
    </div>

  <!-- Campo para la respuesta de seguridad -->
  <ion-item>
    <ion-label>Respuesta:</ion-label>
    <ion-input [(ngModel)]="respuestaSeguridad" type="text" placeholder="Ingresa tu respuesta"></ion-input>
  </ion-item>
  <div *ngIf="errores.respuestaSeguridad" class="error-message">
    <ion-text>{{ errores.respuestaSeguridad }}</ion-text>
  </div>


  <!-- Botón para guardar la respuesta -->
   <div class="btns">
  <ion-button fill="outline" color="warning"  (click)="guardarRespuesta()">Guardar Respuesta</ion-button>
  <!-- Botón para cancelar y regresar a la página anterior -->
  <ion-button fill="outline" color="light" (click)="cancelar()">Cancelar</ion-button>
</div>



</ion-content>


