<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>editarCom</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="card">
      <h1>Editar Nombre y Descripción de la comunidad</h1>
      <ion-item>
        <ion-label class="t1">Nombre de la Comunidad</ion-label>
        <ion-input class="i1" [(ngModel)]="nombreComunidad"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="t2">Descripción</ion-label>
        <ion-textarea class="i2" [(ngModel)]="descripcionComunidad"></ion-textarea>
      </ion-item>
  </ion-card>

  <!-- Imagen de la comunidad -->
  <ion-card class="card2">
      <h2>Imagen de la Comunidad</h2>
      <ion-item>
      <div class="fotocom-container">
        <ion-img class="fotocom" [src]="fotografia" alt="Sin Foto" *ngIf="fotografia"></ion-img>
      </div>

      <!-- Botón visual para cambiar la imagen -->
       <div class="boton-container">
      <ion-button class="camim" fill="outline" color="warning" (click)="takePicture()">Cambiar Imagen</ion-button>
      </div>
    </ion-item>
  </ion-card>

  <!-- Botones para guardar o cancelar -->
  <div class="btns">
    <ion-button fill="outline" color="warning" [routerLink]="['/comunidad']">Guardar Cambios</ion-button>
    <ion-button fill="outline" color="light" [routerLink]="['/comunidad']">Cancelar</ion-button>
  </div>
</ion-content>
