<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>editarCom</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Editar Nombre y Descripción de la comunidad</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label class="t1">Nombre de la Comunidad</ion-label>
        <ion-input [(ngModel)]="nombreComunidad"></ion-input>
      </ion-item>

      <ion-item class="bordeDorado">
        <ion-label class="t2">Descripción</ion-label>
        <ion-textarea [(ngModel)]="descripcionComunidad"></ion-textarea>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- Imagen de la comunidad -->
  <ion-card class="bordeDorado">
    <ion-card-header>
      <ion-card-title>Imagen de la Comunidad</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img [src]="imagenSeleccionada" alt="Imagen de la comunidad"></ion-img>

      <!-- Botón visual para cambiar la imagen -->
      <ion-button class="camim" fill="outline" color="warning" (click)="seleccionarImagen()">Cambiar Imagen</ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Botones para guardar o cancelar -->
  <div class="btns">
    <ion-button fill="outline" color="warning" [routerLink]="['/comunidad']">Guardar Cambios</ion-button>
    <ion-button fill="outline" color="light" [routerLink]="['/comunidad']">Cancelar</ion-button>
  </div>
</ion-content>
